body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --divider-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.5);

  --font-size-0: 0.694rem;
  --font-size-1: 0.833rem;
  --font-size-2: 1rem;
  --font-size-3: 1.2rem;
  --font-size-4: 1.44rem;
  --font-size-5: 1.728rem;
  --font-size-6: 2.074rem;
  --font-size-7: 2.488rem;
  --font-size-8: 2.986rem;

  --font-color-0: #ffffff;
  --font-color-1: #4d4d4d;

  --background-0: #ffffff;
}

:root {
  --black-0: #000000;
}

:root {
  --button-radius: 999px;
  --button-padding: 0.75rem 2rem;
  --button-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  --button-hover-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --button-transition: 0.3s ease;
  --button-background: black;
}
